.product {
    text-align: $txt-align;
    font-weight: $fw-2;

    .product_title {
        font-size: $fs-8;
    }

    .text-title {
        font-size: $fs-2;
    }
}

.product_box {
    width: 100%;
    background-color: #fff;
    height: auto;
    border: 1px solid $color-border-1;
    padding: 20px 0 0 0;
    margin-top: 30px;
    border-radius: 10px;

    .product_name {
        width: 100%;
        font-size: $fs-7;
        color: $color-black;
        font-weight: $fw-2;
        text-align: $txt-align;

    }
}