.phoneCarousel{
    padding: $pd-mid 0;
    .checked {
        color: orange;
    }
    h1{
        @include style-text($fs-8,$fw-3,$color-bg-heading);
    }
    h3{
        @include style-text($fs-7,$fw-3,$color-bg-heading);
        letter-spacing: $ls-1;
        margin: $mg-0 0;
    }
    p{
        @include style-text($fs-2,$fw-1,$color-dark-1);
        margin-bottom: $mg-2;
    }
    #outerimg{ display: none};
    #innerimg{ display: block;
        @media (max-width: 767px){
            height: 400px;
        };
        @media (max-width: 400px){
        width: 200px;
        height:300px;
     }; 
    };
    @media (min-width: 768px) {
        #outerimg{ display: block};
        #innerimg{ display: none};
    }
}