header {
  background-color: $color-bg-heading;
  //   padding: $pd-1;
  position: fixed;
  z-index:10; 
  width: 100%;
  .navbar-brand {
    @include style-text($fs-3, $fw-3, $color-txt);
  }
  .nav-link {
    text-align:center;
    @include style-text($fs-2, $fw-2, $color-txt);
    transition: all 0.5s;
    &:hover {
      @include style-text($fs-2, $fw-2, $color-txt);
      transform: scale(1.2);
    }
  }
  .nav-item{
    padding: 5px $pd-1 5px 0;
  }
}

