.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 500px;
    height: 100%;
    top: 0;
    right: 0;
}
.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}
.modal-header,.modal-body{
    border-bottom:0;
}
.modal-footer {
    border-top:0;
} 