.bg0 {
  background-color: #fff;
}
.bg3 {
  background-color: #222;
}
.mb-50 {
  margin-bottom: 50px;
}
.ml-25 {
  margin-left: 25px;
}
.mr-38 {
  margin-right: 38px;
}
.cl8 {
  color: $color-txt2;
}
.cl2 {
  color: #333;
}
.cl3 {
  color: #666;
}
.bg8 {
  background-color: #f3f3f3;
}
.bor13 {
  border: 1px solid $bc-1;
  border-radius: 22px;
}
.size {
  width: 220px;
  height: 45px;
}
.size-1{
  min-width: 163px;
  height: 45px;
}
.size-2{
  min-width: 156px;
  height: 45px;
}
.plr-20{
  padding: 0 20px;
}
.p-t-27{
  padding-top: 27px;
} 
.p-b-33{
  padding-bottom: 33px;
}
.bor15 {
  border-left: 1px solid $bc-1;
  border-right: 1px solid $bc-1;
  border-bottom: 1px solid $bc-1;
}
.hov-btn3:hover {
  border-color: #717fe0;
  background-color: #717fe0;
  color: #fff;
}
@media (max-width: 1199px) {
  .m-lr-0-xl {
    margin-left: 0;
    margin-right: 0;
  }
}
#shopping {
  padding: $pd-75 0;
}
.wrap-table-shopping-cart {
  overflow: auto;
  border-left: 1px solid $bc-1;
  border-right: 1px solid $bc-1;
  .table-shopping-cart {
    border-collapse: collapse;
    width: 100%;
    min-width: 680px;
    tr {
      border-top: 1px solid $bc-1;
      border-bottom: 1px solid $bc-1;
    }
    .table_head th {
      @include style-text($fs-1, $fw-2, $color-txt2);
      text-transform: uppercase;
      line-height: 1.6;
      padding: $pd-11 0;
    }
    .column-1 {
      width: 133px;
      padding-left: 50px !important;
    }
    .column-2 {
      width: 220px;
    }
    .column-3 {
      width: 120px;
    }
    .column-4 {
      width: 145px;
      text-align: center;
    }
    .column-5 {
      width: 172px;
      padding-right: 50px !important;
      text-align: right;
      font-size: 16px;
    }
    .table_row {
      height: 185px;
      td {
        padding-bottom: 20px;
      }
      td.column-1 {
        padding-bottom: 30px;
      }
      .wrap-num-product {
        width: 140px;
        height: 45px;
        border: 1px solid $bc-1;
        border-radius: 3px;
        overflow: hidden;
      }
      .btn-num-product-up,
      .btn-num-product-down {
        width: 45px;
        height: 100%;
        cursor: pointer;
        transition: all 0.4s;
      }
      .flex-c-m {
        justify-content: center;
        align-items: center;
      }
      .hov-btn3:hover {
        border-color: #717fe0;
        background-color: #717fe0;
        color: #fff;
      }
      .num-product {
        width: calc(100% - 90px);
        height: 100%;
        border-left: 1px solid $bc-1;
        border-right: 1px solid $bc-1;
        border-top: none;
        border-bottom: none;
        background-color: #f7f7f7;
      }
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }
}
.mtext-101 {
  font-family: 'Poppins', sans-serif;
  @include style-text(18px,500,black);
  line-height: 1.3333;
}
.mtext-102 {
  font-family: 'Poppins', sans-serif;
  @include style-text(18px,400,black);
  line-height: 1.3333;
}
.size-208{
  width: 34.5%;
}
.size-209{
  width: 65.5%;
  padding-top: 1px;
}
.bor14 {
  border-radius: 25px;
}
.size-116 {
  width: 25%;
  height: 50px;
  min-width: 250px;
}